template(name='search_queue')
	.panel.panel-default
		.panel-heading Search Queue
		table.table
			thead
				tr
					th Time
					th Task
					th Progression
			tbody
				each searchQueue
					+search_queue_item

template(name='search_queue_item')
	tr
		td #{displayCreated}
		td #{taskDescription}
		td
			.progress
				.progress-bar(role='progressbar', aria-valuenow="#{progressPercent}", aria-valuemin='0', aria-valuemax='100', style="width: #{progressPercent}%;") #{progressPercent}%
